In [186]:
import re
import pandas as pd

# part 1
def prepare_line(line):
    line = line.strip()
    line_content = re.split(r"[ \t]+", line)
    return list(line_content)

with open("data.txt") as f:
    lines = f.readlines()
    lines = list(map(prepare_line, lines))
    df = pd.DataFrame(lines)

df

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,6,25,26,18,71,23,9,444,224,56,...,8,5119,42,659,67,916,16,71,37,95
1,61,34,67,19,359,18,53,794,654,86,...,14,2483,51,294,364,558,1712,52,855,171
2,32,79,35,6,654,52,12,7847,214,69,...,99,7273,56,412,898,521,1581,69,434,873
3,56,487,56,3,128,43,437,6351,7,17,...,33,25,66,73,632,231,6632,53,648,657
4,*,+,*,+,*,+,*,+,*,*,...,+,+,*,+,+,*,+,*,*,*

In [187]:
# part 1
grand_total = 0
for series_name, series in df.items():
    result = 0
    operator = series.iloc[-1]
    values = series[0:-1]
    values = values.map(lambda x: int(x))
    if operator == "+":
        result = values.sum()
    if operator == "*":
        result = values.prod()
    grand_total += result

grand_total

np.int64(6503327062445)

# Part 2

In [188]:
import numpy as np

with open("data.txt") as f:
    lines = f.readlines()
    lines = list(map(lambda x: x[0:-1], lines))
    lines = list(map(lambda x: list(x), lines))
    df = pd.DataFrame(lines)
    df = df.fillna("")

In [ ]:

row_idx, col_idx = np.where(df.isin(["+", "*"]))

array([   0,    3,    7,   10,   13,   17,   20,   24,   29,   33,   36,
         40,   44,   49,   53,   56,   59,   62,   67,   71,   74,   77,
         81,   85,   88,   91,   94,   99,  103,  106,  110,  113,  116,
        121,  124,  128,  131,  135,  139,  144,  147,  152,  155,  158,
        162,  165,  168,  171,  175,  179,  182,  187,  190,  193,  196,
        199,  204,  208,  212,  216,  220,  224,  227,  232,  236,  240,
        245,  248,  253,  258,  263,  266,  271,  274,  277,  281,  284,
        289,  293,  297,  300,  304,  309,  312,  315,  319,  322,  327,
        331,  334,  337,  340,  344,  348,  353,  356,  359,  364,  369,
        372,  376,  379,  382,  387,  390,  394,  398,  402,  405,  408,
        411,  415,  420,  423,  426,  429,  433,  437,  440,  443,  447,
        450,  455,  459,  463,  467,  470,  474,  477,  481,  486,  490,
        494,  498,  502,  506,  511,  515,  518,  523,  527,  531,  536,
        539,  542,  545,  548,  552,  555,  558,  562,  565,  568,  573,
        576,  580,  584,  589,  592,  595,  599,  602,  605,  609,  613,
        616,  621,  625,  629,  632,  635,  639,  642,  645,  650,  653,
        657,  661,  664,  668,  672,  676,  680,  683,  687,  691,  694,
        698,  701,  705,  708,  712,  716,  720,  723,  726,  730,  734,
        737,  742,  745,  748,  751,  754,  758,  763,  766,  771,  775,
        779,  784,  787,  791,  794,  798,  801,  804,  808,  811,  815,
        820,  824,  828,  831,  836,  840,  844,  849,  853,  857,  861,
        865,  869,  873,  876,  879,  882,  885,  888,  892,  897,  900,
        903,  907,  911,  914,  918,  921,  924,  928,  931,  935,  938,
        942,  945,  949,  952,  955,  958,  962,  965,  969,  973,  978,
        982,  986,  991,  994,  999, 1002, 1006, 1009, 1012, 1017, 1021,
       1026, 1030, 1033, 1037, 1040, 1044, 1047, 1052, 1056, 1059, 1064,
       1067, 1072, 1075, 1080, 1083, 1086, 1090, 1094, 1097, 1101, 1105,
       1108, 1112, 1116, 1121, 1124, 1128, 1131, 1136, 1141, 1144, 1148,
       1151, 1154, 1157, 1161, 1165, 1169, 1173, 1176, 1180, 1184, 1189,
       1192, 1195, 1198, 1201, 1206, 1211, 1215, 1219, 1222, 1227, 1230,
       1235, 1239, 1244, 1247, 1250, 1253, 1257, 1261, 1265, 1270, 1273,
       1278, 1281, 1285, 1288, 1293, 1297, 1300, 1305, 1308, 1312, 1316,
       1320, 1324, 1328, 1333, 1336, 1339, 1342, 1346, 1351, 1354, 1358,
       1361, 1364, 1368, 1373, 1376, 1379, 1383, 1386, 1390, 1395, 1399,
       1403, 1406, 1409, 1412, 1417, 1422, 1427, 1430, 1434, 1439, 1443,
       1447, 1450, 1455, 1458, 1462, 1466, 1470, 1473, 1477, 1480, 1485,
       1489, 1493, 1496, 1499, 1503, 1506, 1511, 1514, 1517, 1520, 1523,
       1527, 1532, 1536, 1539, 1542, 1546, 1550, 1554, 1557, 1560, 1565,
       1569, 1573, 1577, 1580, 1584, 1587, 1591, 1594, 1598, 1602, 1607,
       1610, 1615, 1618, 1623, 1626, 1630, 1634, 1638, 1641, 1646, 1649,
       1652, 1657, 1661, 1665, 1669, 1672, 1675, 1678, 1681, 1684, 1687,
       1691, 1694, 1699, 1702, 1705, 1708, 1711, 1716, 1720, 1725, 1728,
       1731, 1735, 1738, 1743, 1746, 1749, 1752, 1757, 1760, 1764, 1768,
       1771, 1775, 1780, 1783, 1786, 1789, 1793, 1797, 1801, 1804, 1809,
       1812, 1816, 1819, 1822, 1827, 1831, 1834, 1837, 1840, 1843, 1846,
       1850, 1853, 1857, 1860, 1864, 1868, 1871, 1874, 1877, 1882, 1885,
       1889, 1893, 1896, 1900, 1903, 1906, 1909, 1912, 1917, 1922, 1927,
       1930, 1933, 1936, 1940, 1944, 1948, 1952, 1955, 1959, 1963, 1968,
       1971, 1975, 1980, 1983, 1986, 1991, 1995, 1998, 2001, 2005, 2009,
       2013, 2017, 2020, 2023, 2028, 2031, 2035, 2038, 2042, 2045, 2048,
       2052, 2057, 2062, 2065, 2069, 2072, 2076, 2079, 2082, 2086, 2091,
       2095, 2099, 2102, 2105, 2110, 2113, 2117, 2120, 2124, 2129, 2134,
       2138, 2141, 2145, 2150, 2154, 2158, 2162, 2165, 2169, 2172, 2176,
       2180, 2183, 2186, 2189, 2193, 2197, 2201, 2204, 2208, 2213, 2217,
       2222, 2227, 2231, 2236, 2239, 2242, 2246, 2250, 2253, 2258, 2263,
       2267, 2270, 2275, 2278, 2282, 2286, 2290, 2293, 2296, 2300, 2304,
       2307, 2310, 2314, 2319, 2322, 2327, 2331, 2336, 2340, 2343, 2346,
       2349, 2353, 2356, 2361, 2366, 2369, 2372, 2375, 2378, 2383, 2386,
       2389, 2394, 2397, 2401, 2405, 2410, 2414, 2419, 2423, 2428, 2432,
       2436, 2440, 2444, 2447, 2451, 2455, 2458, 2461, 2465, 2468, 2472,
       2476, 2480, 2483, 2487, 2491, 2496, 2499, 2502, 2505, 2509, 2512,
       2515, 2519, 2522, 2526, 2529, 2532, 2537, 2540, 2545, 2548, 2553,
       2558, 2562, 2566, 2570, 2574, 2577, 2581, 2585, 2588, 2592, 2597,
       2600, 2603, 2608, 2613, 2616, 2620, 2623, 2626, 2631, 2634, 2638,
       2643, 2647, 2651, 2655, 2659, 2662, 2667, 2671, 2676, 2679, 2682,
       2687, 2691, 2694, 2698, 2702, 2706, 2711, 2715, 2718, 2723, 2726,
       2730, 2733, 2737, 2741, 2746, 2749, 2752, 2757, 2761, 2764, 2768,
       2771, 2774, 2778, 2783, 2787, 2792, 2796, 2800, 2804, 2807, 2811,
       2814, 2818, 2821, 2824, 2828, 2831, 2834, 2837, 2841, 2845, 2848,
       2851, 2854, 2857, 2861, 2866, 2869, 2873, 2878, 2882, 2887, 2891,
       2894, 2897, 2901, 2905, 2909, 2913, 2917, 2920, 2923, 2927, 2931,
       2934, 2937, 2940, 2945, 2948, 2951, 2956, 2961, 2965, 2968, 2971,
       2974, 2979, 2984, 2987, 2990, 2993, 2996, 3000, 3004, 3009, 3012,
       3016, 3021, 3024, 3028, 3033, 3036, 3039, 3043, 3048, 3052, 3056,
       3059, 3064, 3068, 3072, 3076, 3080, 3083, 3087, 3092, 3097, 3101,
       3104, 3108, 3111, 3114, 3118, 3122, 3126, 3130, 3135, 3140, 3145,
       3148, 3152, 3155, 3159, 3163, 3167, 3170, 3175, 3178, 3182, 3185,
       3188, 3192, 3196, 3201, 3204, 3208, 3212, 3216, 3220, 3224, 3228,
       3232, 3236, 3239, 3243, 3246, 3250, 3255, 3258, 3262, 3267, 3270,
       3274, 3277, 3280, 3284, 3289, 3293, 3298, 3301, 3305, 3309, 3312,
       3315, 3320, 3324, 3328, 3332, 3335, 3338, 3341, 3345, 3348, 3352,
       3355, 3358, 3362, 3365, 3369, 3372, 3375, 3379, 3383, 3387, 3392,
       3395, 3400, 3404, 3408, 3411, 3414, 3418, 3423, 3427, 3430, 3434,
       3438, 3441, 3444, 3447, 3451, 3456, 3459, 3464, 3469, 3474, 3477,
       3480, 3484, 3487, 3492, 3496, 3500, 3503, 3506, 3510, 3514, 3518,
       3521, 3525, 3529, 3532, 3536, 3541, 3545, 3548, 3551, 3554, 3558,
       3562, 3565, 3568, 3571, 3574, 3577, 3580, 3585, 3589, 3593, 3597,
       3600, 3605, 3609, 3613, 3617, 3621, 3624, 3627, 3630, 3634, 3639,
       3644, 3647, 3651, 3656, 3659, 3664, 3667, 3671, 3675, 3679, 3684,
       3687, 3690, 3694, 3698, 3702, 3706, 3709, 3713, 3717, 3721, 3724,
       3729, 3732, 3737, 3740, 3744, 3748, 3752, 3757, 3760, 3764])

In [190]:
column_areas = []
for col_op_idx in range(len(col_idx)):
    start = col_idx[col_op_idx]
    stop = df.shape[1]-1
    if(col_op_idx < len(col_idx) - 1):
        stop = col_idx[col_op_idx+1]-2
    column_areas.append((start, stop))

total = 0
values_df = df.head(-1)
for column_area in column_areas:
    operator = df.iloc[df.shape[0]-1, column_area[0]]
    result = 0
    if operator == "*":
        result = 1

    for column_idx in range(column_area[0], column_area[1]+1):
        number = int(values_df[column_idx].sum().strip())
        if operator == "*":
            result *= number
        else:
            result += number
    total += result

total

9640641878593